.name-wrapper {
  display: flex;
  width: 100%;
  overflow: hidden;
  margin-bottom: 8px;
  box-sizing: border-box;
}

.name-image-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.name-image-wrapper img {
  width: 100%;
  height: auto; /* 元の比率を維持 */
  display: block;
}

.name-image-text {
  color: #fff;
}

.name-furigana,
.name-name {
  font-weight: bold;
  line-height: 1.2;
}

@media screen and (max-width: 600px) {
  .name-text-group {
    transform: scale(0.7);
    transform-origin: top right;
    width: max-content;
    white-space: nowrap;
  }
}

@media screen and (max-width: 600px) {
  .name-vertical-text-group {
    transform: scale(0.7);
    transform-origin: top right;
    width: max-content;
    white-space: nowrap;
  }
}

@media screen and (max-width: 600px) {
  .name-catchcopy-group {
    transform: scale(0.7);
    transform-origin: top center;
    width: max-content;
    white-space: nowrap;
  }
}
